@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-[#F9F3F3] dark:bg-[#060C0C];
  @apply text-black/80 dark:text-white/80;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif; /* Aplicando DM Serif Display nos headings */
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-5;
  @apply bg-[#F9F3F3] dark:bg-[#060C0C];
  @apply border-b border-black dark:border-white;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply prose max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-sans;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

blockquote {
  @apply my-4 border-l-2 border-black px-4 py-2 dark:border-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black dark:decoration-white;
  }
  article a:hover {
    @apply no-underline;
  }
}

.animate {
  @apply opacity-0;
  @apply transition-opacity duration-150 ease-linear;
}

.animate.show {
  @apply opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}
