---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Section from "./Comments/Section.svelte";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
  pageId: string;
  pageUrl: string;
  pageTitle: string;
};
const { pageId, pageUrl, pageTitle } = Astro.props;
---

<div
  class="animate mb-10 font-serif text-2xl font-semibold text-black dark:text-white"
>
  {t("comments.title")}
</div>

<Section
  client:only="svelte"
  attrs={{
    appId: "63fc45f6-55c7-48fa-8483-2f440928cf1b",
    pageId: pageId,
    pageUrl: pageUrl,
    pageTitle: pageTitle,
    lang: lang,
  }}
/>
