---
type Props = {
  pagefindBody?: boolean;
};

const { pagefindBody: pagefindBody = false } = Astro.props;
---

<div data-pagefind-body={pagefindBody} class="mx-auto max-w-screen-sm px-5">
  <slot />
</div>
