---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-serif text-lg font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <LanguagePicker />
      <nav class="flex gap-1 ml-auto">
        <Link href=`/${lang}/blog/`>
          {t("header.blog")}
        </Link>
        <span>
          {`/`}
        </span>
        <Link href=`/${lang}/projects/`>
          {t("header.projects")}
        </Link>
      </nav>
    </div>
  </Container>
</header>
