---
import { getLangFromUrl, UrlToPathLang } from "@i18n/utils";
import { languages } from "../i18n/ui";

const url = Astro.url;

// TODO: corrigir abaixo
const currentLang = getLangFromUrl(url);
const otherLang = Object.keys(languages).find((lang) => lang !== currentLang) || defaultLang;
---

<a href={`${UrlToPathLang(url, otherLang)}`}>{otherLang}</a>
