---
import { getLangFromUrl, UrlToPathLang } from "@i18n/utils";
import { Icon } from "astro-icon/components";
import { defaultLang, languages } from "../i18n/ui";
import Link from "./Link.astro";

const url = Astro.url;

const currentLang = getLangFromUrl(url);
const otherLang =
  Object.keys(languages).find((lang) => lang !== currentLang) || defaultLang;
---

<div class="block">
  <Link href={`${UrlToPathLang(url, otherLang)}`}
    >{otherLang}
    <Icon
      class="ml-1 inline"
      size={13}
      name="iconoir:language"
      is:inline
    /></Link
  >
</div>
