---
import { getLangFromUrl, UrlToPathLang } from "@i18n/utils";
import { languages } from "../i18n/ui";

const url = Astro.url;

// TODO: corrigir abaixo
const currentLang = getLangFromUrl(url);
const otherLang = languages.filter(language != lang);
---

<a href={`${UrlToPathLang(url, otherLang)}`}>{otherLang}</a>
