---
import { UrlToPathLang } from "@i18n/utils";
import { languages } from "../i18n/ui";

const url = Astro.url;
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`${UrlToPathLang(url, lang)}`}>{label}</a>
      </li>
    ))
  }
</ul>
