:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: //cor primária do elemento;;
  --pagefind-ui-text: //cor primária do texto;;
  --pagefind-ui-background: //cor do background do elemento ;
  --pagefind-ui-border: //cor da borda ;
  --pagefind-ui-tag: //cor do highlight das tags de busca;;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}

/* don't show the thumbnail on mobile */
@media (max-width: 480px) {
  .pagefind-ui__result-thumb {
    display: none;
  }
}
